@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  width: 500px;
  padding: 20px;
  background-color: #483659;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon {
  right: 31.5%;
  /* @media screen and (min-width: 1200px) {
      right: 32%;
    }
    @media screen and (min-width: 720px) {
      right: 29%;
    } */
}
